
/*******************************************************************************
 * Font faces
 ******************************************************************************/
/* @font-face {
   font-family: "WorkSans";
   font-style: normal;
   font-weight: 400;
   src: url("/static/fonts/WorkSans-Regular.woff2");
   }
   @font-face {
   font-family: "WorkSans";
   font-style: italic;
   font-weight: 400;
   src: url("/static/fonts/WorkSans-Italic.woff2");
   }
   @font-face {
   font-family: "WorkSans";
   font-style: normal;
   font-weight: 900;
   src: url("/static/fonts/WorkSans-Black.woff2");
   }
 */

@font-face {
    font-family: fdficons;
    src: url("/static/fonts/fdficons.woff");
}

/*******************************************************************************
 * Colors
 ******************************************************************************/
:root {
    --fdf-blå:      #5F8CB4;
    --nat-blå:      #003255; /* Leder */
    --hvid:         #FFFFFF;
    --efterårsrød:  #D22832; /* Tumling */
    --syren:        #9182C8; /* Numling */
    --korngul:      #FFB91E; /* Pusling */
    --græsgrøn:     #7DC855; /* Pilt */
    --søblå:        #4678C8; /* Væbner */
    --granit:       #7D878C; /* Seniorvæbner */
    --flammefarvet: #FF733C; /* Senior */
}
.red {
    color: var(--efterårsrød);
}
.yellow {
    color: var(--korngul);
}
.green {
    color: var(--græsgrøn);
}

/*******************************************************************************
 * Core
 ******************************************************************************/
* {
    box-sizing: border-box;
}

html {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}
body {
    background-color: var(--hvid);
    margin: 0px;
}

main {
    margin: 10px 20px 10px 20px;
}
h1, h2, h3, h4, h5, h6 {
    page-break-after: never;
    page-break-inside: never;
    margin-block-start: 8px;
    margin-block-end: 3px;
    font-weight: 900;
    color: var(--nat-blå);
}
h1 {
    /* font-size: 2em; */
    font-size: 1.6em;
    margin-block-start: 15px;
}

h2 {
    /* font-size: 1.5em; */
    font-size: 1.5em;
}
h3 {
    /* font-size: 1.17em; */
    font-size: 1.4em;
}
h4 {
    /* font-size: 1.0em; */
    font-size: 1.3em;
}
h5 {
    /* font-size: 0.83em; */
    font-size: 1.2em;
}
h6 {
    /* font-size: 0.67em */
    font-size: 1.1em;
}

.columns {
    column-count: 2;
}
.no-break {
    /* page-break-inside: never !important; */
    page-break-inside: avoid !important;
    break-inside: avoid;
}
.break {
    page-break-before: always;
    break-before: page;
}
.qqq {
    background-color: red !important;
    color: blue;
}

.breakable {
    cursor: pointer;
}
.breakable:hover {
    /* background-color: var(--granit); */
}
.breakable-break {
    page-break-before: always;
    break-before: page;
}
.breakable-break:after {
    content: "⤶";
    font-size: max(0.5em, 16px);
    position: absolute;
    /* right: 1em; */
    transform: translateY(0.5em);
}
.breakable-no-break:hover:after {
    content: "⤶";
    font-size: max(0.5em, 16px);
    opacity: 30%;
    position: absolute;
    transform: translateY(0.5em);
    /* right: 1em; */
}

.loading {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: 900;
}
.loading > span {
}


a {
    color: var(--søblå);
}
a:visited {
    /* color: var(--syren); */
}

a.subdued-link {
    color: inherit;
    text-decoration: inherit;
}
a.subdued-link:hover {
    text-decoration: underline;
}
a.subdued-link:hover:after {
    content: "↗";
    color: var(--granit);
    position: absolute;
}

a.button {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
a.button:hover {
    font-weight: 900;
    text-shadow: 0px 0px 2px var(--fdf-blå);
}


.disabled {
    /* text-decoration: line-through !important; */
    filter: blur(1.3px);
}

/*******************************************************************************
 * Navigation
 ******************************************************************************/
header {
    background-color: var(--fdf-blå);
    color: var(--hvid);
    /* display: flex; */
    padding-left: 6px;

}
header > nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
header > nav > a > .header-title {
    font-weight: 900;
    font-size: 2em;
}
header > nav > a > .header-title-year {
    margin-top: -10px;
}
header > nav > a {
    font-weight: 900;
    color: var(--hvid);
    text-decoration: none;
    line-height: 48px;
}
header > nav > a:first-of-type {
    line-height: inherit;
}
header > nav > a:first-of-type:hover > .header-title-year {
    /* line-height: inherit; */
    /* animation: shake 0.2s infinite; */
}
header > nav > a:hover {
    /* border-radius: 3px; */
    /* background: var(--granit); */
    text-decoration: underline;
}

header > nav > .dropdown {
    display: inline-block;
    position: relative;
}
header > nav > .dropdown > a {
    display: block;
    font-weight: 900;
    color: var(--hvid);
    text-decoration: none;
    line-height: 48px;
    cursor: default;
}
header > nav > .dropdown > .dropdown-content {
    display: none;
    /* display: block; */
    position: absolute;
    background-color: var(--fdf-blå);
    z-index: 1;
    top: 48px;
    min-width: 170px;
    margin: 0px;
    line-height: 30px;
    left: -20px;
    padding: 0px 20px 10px 20px;

}
header > nav > .dropdown > .dropdown-content > a {
    display: block;
    font-weight: 900;
    color: var(--hvid);
    text-decoration: none;
}
header > nav > .dropdown > .dropdown-content > a:hover {
    text-decoration: underline;
}

header > nav > .dropdown:hover > .dropdown-content {
    display: block;
}

header > nav > .dropdown:hover > a {
    /* color: var(--fdf-blå); */
    /* background-color: var(--hvid); */
    /* display: block */
}

/*******************************************************************************
 * Error
 ******************************************************************************/
.error {
    background-color: var(--korngul);
    padding: 10px;
    cursor: pointer;
}
.error .header {
    font-weight: 600;
}

/*******************************************************************************
 * Icons
 ******************************************************************************/
.fdficon {
    font-family: fdficons !important;
}

/*******************************************************************************
 * Modal
 ******************************************************************************/
.modal-base {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.8); */
    /* background: #003255; */
    /* background: #003255ee; */
    /* background: #ffffffee; */
    background: #7D878Cee;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 30px;
}

.modal {
    background: white;
    min-width: 800px;
    min-height: 400px;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 20px var(--granit); */
    box-shadow: 10px 10px 20px var(--nat-blå);
}

/*******************************************************************************
 * Animations
 ******************************************************************************/
@keyframes shake {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(5deg); }
    50%  { transform: rotate(0deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }

}


/*******************************************************************************
 * Table
 ******************************************************************************/
table {
    /* collapse won't work with sticky headers */
    /* border-collapse: collapse; */
    border-style: hidden hidden none hidden;
    position: relative;
    border-spacing: 0px;
}

table > thead {
    /* page-break-after: never;
       page-break-before: never;
       page-break-inside: never; */
    position: sticky;
    inset-block-start: 0px;
}
table > thead > tr {
    /* border-bottom: 1px solid #f0f0f0; */
    border-bottom: 1px solid #5F8CB450;
}
table > thead > tr > th {
    font-weight: 600;
    border-bottom: 1px solid #5F8CB450;
    background-color: var(--hvid);
}
table > tbody > tr {
    /* border-bottom: 1px solid #fafafa; */
}
table > tbody {
    /* border-bottom: 1px solid var(--fdf-blå); */
    /* border-bottom: 1px solid #5F8CB450; */
    /* border-bottom: 1px solid #5F8CB430; */
    border-top: 1px solid #5F8CB430;

}
table > thead > tr > th, table > tbody > tr > td {
    padding-left: 5px;
    padding-right: 5px;
}

table > tbody > tr:first-child > td {
    padding-top: 10px;
    /* padding-top: 20px; */
}
table > tbody > tr:last-child > td {
    /* padding-bottom: 10px; */
    padding-bottom: 4px;
}
table > tbody > tr:first-child > th {
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #5F8CB430;
}
table > tbody:first-of-type > tr:first-child > th {
    border-top: 0px;
}
table > tbody:last-child > tr:last-child > td {
    padding-bottom: 0px;
}

table > tbody > tr:nth-child(even) {
    background-color: #5F8CB408;
}
table > tbody > tr:hover {
    background-color: var(--fdf-blå);
    background-color: #5F8CB430;
}


/*******************************************************************************
 * Days
 ******************************************************************************/

.days {
    font-family: mono;
}


/*******************************************************************************
 * Search
 ******************************************************************************/
.search {
    width: max-content;
    min-width: 300px;
    /* border: 1px solid var(--fdf-blå); */
}
.search input {
    /* width: 400px; */
    width: 100%;
    height: 30px;
    border: 2px solid var(--fdf-blå);
    border-radius: 8px;
}
.search-suggestions {
    padding-inline-start: 0; /* Reset browser behaviour for <ul> */
    margin-block-start: 0; /* Reset browser behaviour for <ul> */

    border: 1px solid var(--fdf-blå);
    /* width: max-content; */
}
.search-suggestion {
    list-style-type: none;
    cursor: pointer;
}
.search-suggestion-active {
    /* background-color: var(--fdf-blå); */
    background-color: #5F8CB430;
}

/*******************************************************************************
 * Print
 ******************************************************************************/

@media screen {
    .print {
        display: none;
    }
}
body {
    counter-reset: page;
}

@media print {
    @page {
        size: A4;
        /* @bottom-right {
           content: counter(page);
           } */
    }
    html {
        font-size: 11px;
    }

    body {
        /* zoom: 50%; */
        /* transform: scale(0.7); */
    }
    header > nav {
        display: none;
    }
    header > .print {
        font-weight: 600;
        font-weight: 900;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-evenly;
        justify-content: space-around;
    }
    header > .print > .header-title {
        font-weight: 900;
        font-size: 1.2em;
    }


    table > thead {
        page-break-after: avoid;
    }
    table > tbody {
        page-break-inside: avoid;
    }
    table > tbody > tr:first-child > td {
        padding-top: 5px;
    }
    table > tbody > tr:last-child > td {
        padding-bottom: 5px;
    }


    .breakable-break:after {
        content: none;
        font-size: max(0.5em, 16px);
    }
    .breakable-no-break:hover:after {
        content: none;
        font-size: max(0.5em, 16px);
        opacity: 30%;
    }



}
