<body>
  <header>
    <nav>
      <a>
        <div class="header-title" style="text-align: center;">Klinteborg</div>
      </a>
    </nav>
  </header>
  <div style="text-align: center;">
    <H1>Login påkrævet</H1>
    <p>Hej, du er ikke logget ind på siden</p>
    <p>
      Indtast dit FDF-medlemsnummer <!-- eller din email, --><br/>
      så sender vi et login-link til dig.
    </p>
    <form method="post">
      <input type="text" name="fdfid" id="fdfid" autocomplete="off" required autofocus placeholder="Medlemsnummer"/>
      <input type="submit" value="Login"/>

      <!-- <input type="email" name="data" id="data" placeholder="Medlemsnummer / email"/> -->
      <!-- <div style="margin: 20px;"> -->
      <!--   <input type="text" name="fdfid" id="fdfid" placeholder="FDF-medlemsnummer"/> -->
      <!-- </div> -->
      <!-- <div>eller</div> -->
      <!-- <div style="margin: 20px;"> -->
      <!--   <input type="email" name="email" id="email" placeholder="email"/> -->
      <!-- </div> -->
      <!-- <div style="margin: 20px;"> -->
      <!--   <input type="submit" value="Login"/> -->
      <!-- </div> -->
    </form>
  </div>
</body>
