<body>
  <header>
    <nav>
      <a>
        <div class="header-title" style="text-align: center;">Klinteborg</div>
      </a>
    </nav>
  </header>
  <div style="text-align: center;">
    <H1>Login påkrævet</H1>
    <p>Det FDF-medlemsnummer du angav var ikke et gyldigt tal, prøv igen.</p>
    <p>
      Indtast dit FDF-medlemsnummer <!-- eller din email, --><br/>
      så sender vi et login-link til dig.
    </p>
    <form method="post">
      <input type="text" name="fdfid" id="fdfid" autocomplete="off" required autofocus placeholder="Medlemsnummer"/>
      <input type="submit" value="Login"/>
    </form>
  </div>
</body>
